body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
    float: left;
}

ul li a {
    padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }