body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

li {
    text-decoration: none;
    list-style-type: none;
    float: left;
}

ul li a {
    padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

div {
    width: 80%;
    height: 200px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
    margin: auto;
    padding: .5rem;
}